
<!DOCTYPE html>
<html lang="en">

<head>
     <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <link href="static/css/stylishsearchbox.css" rel="stylesheet">




</head>
 
<body>

<div class="container">
	<div class="row">
		<h2>tcb-consulting</h2>
           <div id="custom-search-input">
                            <div class="input-group col-md-12">
                               <form  action="hello" method="get" >
                                <input type="text" class="  search-query form-control" placeholder="Search" name="q"/>
                               </form>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                           </div>
           </div>
	</div>
</div>




</body>


</html>