<!DOCTYPE html>
<html>
<head>

    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
       <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">



    
 </head>   
 
 
 
<body>
   <nav class="navbar navbar-inverse navbar-fixed-top" style=style="text-align:center;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Tcb-consulting</a>
        </div>
            <div id="navbar" class="navbar-collapse collapse">
           
   <form class="navbar-form navbar-right"  action="hello" method="get" >
            <input type="text" class="form-control" placeholder="Search..."  name="q">
          </form>
   </div>
      </div>
    </nav> 
  









   <!--webjars/jquery-ui/1.9.2
   webjars/jquery-ui/1.11.1-->

    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
        <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
                <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        
    
    
    
   <!-- <script>window.jQuery || document.write('<script src="webjars/jquery/1.11.1
/jquery.min.js"><\/script>')</script><script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->




</body>
</html>

